body {
    background-color: #cbd9d5;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.three-grid-gallery {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 15px;
}

.two-grid-gallery {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 15px;
}

.skip-link{
    position: absolute;
    top: -40px;
    left: 15px;
    background-color: #000000 ;
    color: #FFFFFF;
    z-index: 999;
    text-decoration: none;
}

.skip-link:focus{
    top: 0;
}

.skip-link:focus-visible{
    top: 0;
}

.navbar {
    overflow: hidden;
    background-color: #31473A;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.active {
    background-color: #7fbf8a;
    color: #000000;
    text-decoration: underline;
}