body {
    background-color: #EDF4F2;
}

.navbar {
    overflow: hidden;
    background-color: #31473A;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.active {
    background-color: #7fbf8a;
    color: #000000;
    text-decoration: underline;
}