body {
    background-color: #EDF4F2;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.skip-link:focus,
.skip-link:focus-visible {
    opacity: 1; /* Show when focused */
}

.navbar {
    overflow: hidden;
    background-color: #31473A;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.active {
    background-color: #7fbf8a;
    color: #000000;
    text-decoration: underline;
}